* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .split {
    display: flex;
    flex-direction: column;    
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;

  }  
  .left{
    left:0;
    display: flex;
    flex-direction: column;
   
  }
  #play{
   
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }

  .right{
    right:0;
    display: none;
  }
  .tic-tac-toe {
    width: 350px;
    margin-top: 100px;    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .intro {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  

  .moveStatus{
    display: flex;
    flex-direction: row;
    gap:100px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: right;
  }
  
  .board {
    display: flex;
    grid-template-columns: repeat(3, auto);
    align-content: center;
	justify-items: center;
	align-items: center;
   
  }
  .board-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .board-cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000000;   
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 5px;
  }resul
  
  .turn {
   
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .buttons { 
   
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
  }
  
.result {
    position: absolute;   
    display: none;
    align-items: center;
    justify-content: center;
    background: #0f0e0e;
    color: floralwhite;
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0.7;
    width: 300px;
    height: 300px;
    border-radius: 5px;
  }